@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


.text-main{
    text-align: center;
}
#header-background-frame{
    background-image: url(/assets/images/bcg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:50vh;
    width:100%;
    left:0px;
    top:0px;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    color:white;
    z-index: -1;
}
#header{
    font-family: 'Abel', sans-serif;
    position: absolute;
    justify-content: center;
    margin:auto;
    vertical-align: middle;
    height: 100%;
    width:100%;
    backdrop-filter: blur(5px);
    line-height: 350px;
    font-size: 3vh;
    z-index: 1;
}

#header h1{
    filter: drop-shadow(0px,0px,2,red);
}

.navBar {
    font-family: 'Abel', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 2;
    top:-1px;
    position: absolute;
    width: 100%;
    left:0px;
  }
  
  .navBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.5s;
  }
  
  .navBar a:hover {
    transition-duration: 0.5s;
    background-color: black;
    color: white;
  }
  
  .navBar a.active {
    background-color: darkgrey;
    color: white;
  }

  hr{   
        margin:2px;
        display:flex;
        top:0px;
        border: 1px solid grey;
        margin-left:-10px;
        z-index:-1;
        margin-top:50vh;
        width:100vw;
        filter: blur(1px);
  }